/* Responsive */
.row-fluid .span8 {width: 77%;} /*Block - Main*/
#page-site-index.editing .row-fluid .span8 {width: 77%;}
.row-fluid .span4 {width: 23%;} /*Block - Pre*/
.row-fluid .span9 {width: 81.5%;} /*Block Pre + Main*/
.row-fluid .span3 {margin-left: 0; width:18.5%;} /*Block - Post*/

.empty-region-side-post.used-region-side-pre #region-main.span8, 
.jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
    width: 77.5%;
}
.empty-region-side-post.used-region-side-pre #block-region-side-pre.span4, 
.jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
    width: 22.5%;
}

/* Large desktop */
@media (min-width: 1200px) { }

@media (max-width: 979px) {
    [class*="span"], .row-fluid [class*="span"] {width: 100% !important;}
    body {padding: 0;}
    select {width: 100%;}
    #page {
        padding: 5px;
    }
    .user-picture {margin-top: -40px; padding-right: 20px !important;}
    .tiles {margin-left: 0;}
    #block-region-side-pre, 
    #block-region-side-post,
    #region-main,
    .block {
        padding: 0;
        
    }
    .loginfailures {margin-right: 52px;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #page {
        padding: 10px 10px 50px 10px !important;
    }
    
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    #page {
        padding: 10px 10px 80px 10px !important;
    }
    /**, a, h1, h2, h3, h4, td, body, p, div {font-size: 99% !important;}*/
    li.tile {max-width: 50%;}
    .tile a {height: 140px;}
    .breadcrumb-nav .breadcrumb {
        float: none;
        padding: 5px;
    }
    .breadcrumb-nav, 
    .breadcrumb-button .singlebutton, 
    .breadcrumb-button,
    #page-navbar .singlebutton    {
        float: none; 
        text-align: center;
    }
    .logo, .bannertext {
        text-align: center;
    }
    .logo {padding: 15px 0;}
    .bannertext {float: none; margin: 0; padding: 0; display: block; text-align: center;}
    #page-footer p {line-height: 1em;}
    #page-footer .year, 
    #page-footer .text-left, 
    #page-footer .copyright, 
    #page-footer .helplink {
        float: none;
        text-align: center;
    }
    .block {
        margin-bottom: 10px;
    }
    .tiles {
        margin-left: 0;
    }
    .tileoutlinepage {
        margin: 0;
    }
    li.tile {
        margin-bottom: 5px;
    }
    /*Login page*/
    #page-login-index .loginpanel {
        max-width: 100%;
    }
    #page-login-index .loginbox.twocolumns .loginpanel {
        border: none;
        border-bottom: 1px solid #ccc;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    .tileoutlinearea {margin: 0 !important; margin-bottom: 10px !important;}
    li.tile {max-width: 100%;}
    .tile a {width: 100% !important; margin: 0 !important;}
    
}

@media (min-width: 980px) {
    #dock {top: 40px;}
    #dock .controls {bottom: 50px;}
}
