.tiles {
    margin-left: -10px;
}
#tileoutlinearea h3.sectionname {
    color: #fff;
    font-size: 1.6em;
}
.tileoutlinepage {
    margin: 10px;
    padding: 0 0 15px;
}
#tileoutlinetiles {
    max-width: 100%;
}
.tileoutlinearea {
    border: none !important;
    min-height: 200px;
    border-radius: 0 !important;
    background: url([[pix:theme|course_bg]]) center bottom no-repeat !important;
    color: #fff;
    padding: 0;
    margin: 0 5px 9px 10px!important;
    background-size: cover !important;
}
.tileoutlinearea .headingblock {
    display: none !important;
}
.tile a {
    padding: 0 !important;
    width: 95% !important;
    height: 160px;
    position:relative;
    background-image: url([[pix:theme|tilebg]]); 
    background-color: #f5f5f5 !important;
    -webkit-border-radius: 0px !important; 
    -moz-border-radius: 0px !important; 
    border-radius: 0px !important; 
    color: [[setting:blockheadertextcolor]] !important; 
    border: 0 !important;
    margin: 5px 10px !important;
    background-size: cover !important;
}
.tile a:hover .tiletitle {
    background: #413d3c url([[pix:theme|course_arrowon]]) bottom right no-repeat;
    text-decoration: underline;
}   
.tilecontentarea {
    background: none !important;
}
.tilecontentarea.section {
    background: #EFEFEF !important;
    border-radius: 0;
}
.tiletopic {
    display: none !important;
}
.tiletitle {
    margin-top: 100px;
    background: #413d3c url([[pix:theme|course_arrow]]) bottom right no-repeat;
    position: absolute;
    bottom: 0;
    width: 83%;
    text-align: left !important;
    height: auto !important; 
    min-height: 5px;
    padding: 8px 12% 8px 5%;
}
li.tile {
    max-width: 33.3%;
    width: 100% !important;
}
.tileoutlinecontent {
    margin: 0 !important; 
    border: 0; 
    padding: 10px 25px !important;
}
.tileoutlinecontent .summary p, .tileoutlinecontent a {
    color: #fff;
    margin: 0;
}
.site-topic ul.section, .course-content ul.section {
    margin: 0;
}

/* Selected */
.tilecontentarea.section.current {
    border: 2px solid [[setting:buttoncolor]] !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tile.currentsection a {
    border: 2px solid [[setting:buttoncolor]] !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#page-course-view-tiles #region-main {
    padding: 5px 0 15px 0;
    margin-bottom: 15px;
    display: table;
}
.path-course-view .completionprogress {float: none; margin-bottom: 5px;}

/* Topics view */
.tiletopicnav {
    padding-left: 10px;
}
.tiletopicnav ul li {
    line-height: 3em; 
    margin-top: 5px;
}
.tiletopicnav ul li a {
    background-color: #fff !important; 
    color: [[setting:linkcolor]] !important; 
    -moz-border-radius: 0 !important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; 
    border: 1px solid [[setting:buttoncolor]];
}
.tiletopicnav ul li a.current, 
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: [[setting:buttoncolor]] !important; 
    color: #fff !important;
}
.tiletopicnav .currentsection {
    border: 4px solid [[setting:buttoncolor]] !important;
}

/* for children themes - these images would be overwritten by image upload within the tile setting */
#tile1 a {background-image: url([[pix:theme|tilebg_1]]);}
#tile2 a {background-image: url([[pix:theme|tilebg_2]]);}
#tile3 a {background-image: url([[pix:theme|tilebg_3]]);}
#tile4 a {background-image: url([[pix:theme|tilebg_4]]);}
#tile5 a {background-image: url([[pix:theme|tilebg_5]]);}
#tile6 a {background-image: url([[pix:theme|tilebg_6]]);}