body.path-block-facetoface table.f2fsession td.c0 {
    font-weight: bold;
}
body.path-block-facetoface table.f2fsession td.c1 {
    width: 100%;
}
body.path-block-facetoface h2.main, body.blocks-facetoface h3.main {
    text-align: left;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls {
    line-height: 3.5em;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls a {
    font-size: 1.5em;
    width: 100%;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls table {
    width: 100%;
}

div#calendarcontainer div.monthlycalendar div.calendar-controls span.current {
    font-size: 2.5em;
    width: 100%;
}

div#calendarcontainer div.monthlycalendar table.calendarmonth {
    width: 100%;
}

div#calendarcontainer div.monthlycalendar table.calendarmonth td {
    vertical-align: top;
    padding: 5px;
    border: 1px solid;
    width: 14%;
    height: 10em;
}

body.path-blocks-facetoface table {
    width: 100%;
}

body.path-blocks-facetoface table th {
    text-align: left;
}

.path-blocks-facetoface .monthlycalendar {
    float: left;
    clear: left;
    margin: 0;
    width: 70%;
    margin-bottom: 15px;
    min-width: 500px;
}
.path-blocks-facetoface .calendarsidebar {
    float: left;
    margin: 0;
    margin-left: 2%;
    width: 27%;
}
.dir-rtl.path-blocks-facetoface .monthlycalendar {
    float: right;
    clear: right;

}
.dir-rtl.path-blocks-facetoface .calendarsidebar {
    float: right;
    margin-left: 0;
    margin-right: 2%;
}
@media screen and (max-width: 767px) {
    .path-blocks-facetoface .monthlycalendar {
        width: 100%;
    }
    .path-blocks-facetoface .calendarsidebar {
        width: 100%;
    }
}

div#calendarcontainer table.calendarmonth ul {
    margin: 0;
    padding: 0;
}
div#calendarcontainer table.calendarmonth ul li {
    list-style-type: none;
    list-style-position: inside;
}

div#calendarcontainer table.calendarmonth td.today {
    background-color: #F5D0A9;
}
div#calendarcontainer table.calendarmonth td.weekend {
    background-color: #EEEEEE;
}

div.calendarfilters table.generaltable {
    border-style: none;
}
div.calendarfilters table.generaltable .cell {
    border-style: none;
    vertical-align: bottom;
}

/* tooltips */
body#page-blocks-facetoface-calendar .tooltip {
    background-color:#F6E3CE;
    border-color:#F7BE81;
    border-style:solid;
    border-width:1px;
    color:#000000;
    left:0;
    padding:2px 5px;
    position:relative;
    top:0;
    z-index:1;
}
