/**
 * Rounded Corner Syntax Guide
 *
 * The following are CSS means for getting rounded corners. Sorry no IE yet, and
 * please note that each uses a slightly different style of syntax for specific
 * definition (top, bottom, left, right).
 *
 * CSS3 rounded corners
 *   border-radius
 *   border-top-left-radius
 *   border-top-right-radius
 *   border-bottom-left-radius
 *   border-bottom-right-radius
 *
 * Mozilla rounded corners
 *   -moz-border-radius
 *   -moz-border-radius-topleft
 *   -moz-border-radius-topright
 *   -moz-border-radius-bottomleft
 *   -moz-border-radius-bottomright
 *
 * Webkit rounded corners
 *   -webkit-border-radius
 *   -webkit-border-top-left-radius
 *   -webkit-border-top-right-radius
 *   -webkit-border-bottom-left-radius
 *   -webkit-border-bottom-right-radius
 */

/**
 * Buttons and button-like links
 * see also core.css
 */
button,
input.submit,
input[type="submit"],
input[type="reset"],
input[type="button"],
#id_buttonfield,
a.link-as-button,
.path-admin .buttons input[type="submit"] {
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}
button,
input.submit,
input[type="submit"],
input[type="reset"],
input[type="button"],
#id_buttonfield,
a.link-as-button,
input#id_submitbutton,
.path-admin .buttons input[type="submit"] {
    color:#333;
    text-align:center;
    text-shadow:0 1px 1px rgba(255,255,255,0.75);
    vertical-align:middle;
    cursor:pointer;
    background-color:#f5f5f5;
    background-image:-ms-linear-gradient(top, #fff, #e6e6e6);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image:-o-linear-gradient(top, #fff, #e6e6e6);
    background-image:linear-gradient(top, #fff, #e6e6e6);
    background-image:-moz-linear-gradient(top, #fff, #e6e6e6);
    background-repeat:repeat-x;
    border:1px solid #ccc;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-color:#e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color:#b3b3b3;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)
}

body.ie7 button,
body.ie7 input.submit,
body.ie7 input[type="submit"],
body.ie7 input[type="reset"],
body.ie7 input[type="button"],
body.ie7 #id_buttonfield,
body.ie7 a.link-as-button {
    zoom:1;
}

/* hover state for buttons */
input.submit:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
#id_buttonfield:hover,
button:hover,
a.link-as-button:hover,
input#id_submitbutton:hover,
.path-admin .buttons input[type="submit"]:hover {
    color: #000000;
    text-decoration:none;
    background-color:#e6e6e6;
    background-position:0 -15px;
    -webkit-transition:background-position .1s linear;
    -moz-transition:background-position .1s linear;
    -ms-transition:background-position .1s linear;
    -o-transition:background-position .1s linear;
    transition:background-position .1s linear;
}

/* override to remove hover state for disabled buttons */
input[disabled="disabled"],
select[disabled="disabled"],
input#id_buttonfield[disabled="disabled"],
input[disabled="disabled"]:hover,
input#id_buttonfield[disabled="disabled"]:hover,
.path-admin .buttons input[disabled="disabled"]:hover {
    color: #999999;
    cursor: not-allowed;
    background-position: 0;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: linear-gradient(top, #FFFFFF, #E6E6E6);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.path-admin .buttons input[type="submit"]:focus,
.path-admin .buttons input[type="submit"]:active {
    background-position: 0 0;
    color: #333333;
}
/**
 * Dock gradient
 * see also dock.css
 */
#dock {
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(left, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(13%, #f2f2f2), color-stop(74%, #e5e5e5), color-stop(100%, #afafaf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* IE10+ */
    background: linear-gradient(left, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* W3C */
    background-color: #f2f2f2;
}
.dir-rtl #dock {
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(right, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, right top, left top, color-stop(13%, #f2f2f2), color-stop(74%, #e5e5e5), color-stop(100%, #afafaf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* IE10+ */
    background: linear-gradient(right, #f2f2f2 13%, #e5e5e5 74%, #afafaf 100%); /* W3C */
    background-color: #f2f2f2;
}
fieldset,
.sitetopiccontent,
.categorybox,
.categoryboxcontent,
.coursebox,
.notifyproblem,
.notifysuccess {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
table.minicalendar,
.block_course_summary,
.block_course_summary .content {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.minicalendar td {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#page-report-outline-user .section {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 979px) {

    div#totaramenu > ul > li.first > a,
    div#custommenu > ul > li.first > a {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    div#totaramenu > ul > li.last > a,
    div#custommenu > ul > li.last > a {
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}

@media screen and (min-width: 980px) {

    div#totaramenu ul li a,
    div#custommenu ul li a {
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    div#totaramenu ul ul li a,
    div#custommenu ul ul li a {
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    div#totaramenu ul ul,
    div#custommenu ul ul {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        -moz-border-radius-bottomleft: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        box-shadow: 0 2px 3px 0 #999;
        -moz-box-shadow: 0 2px 3px 0 #999;
        -webkit-box-shadow: 0 2px 3px 0 #999;
    }

}
.block,
.block.hidden,
.generalbox,
.generalboxcontent,
.informationbox,
.informationboxcontent {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.block .content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.block .header,
.entryboxheader {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.generaltabselected,
.generaltab,
.generaltabinactive,
.glossarycategoryheader,
.glossaryformatheader {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.entrybox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.path-calendar .eventlist .event,
.glossarypost,
#page-mod-journal-view .feedbackbox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.path-calendar .eventlist .event .side,
.glossarypost .side,
#page-mod-journal-view .feedbackbox .side {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.path-calendar .eventlist .event .description,
.encyclopedia .entrylowersection,
#page-mod-journal-view .feedbackbox .entrycontent {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.path-calendar .maincalendar,
.path-calendar .sidecalendar,
.path-calendar td.sidecalendar .block,
.loginbox,
.userinfobox,
.groupinfobox,
.forumpost,
.glossarycomment {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.loginbox .content.left,
#page-user-view .left,
.forumpost .side,
.glossarycomment .side {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.loginbox .content.right,
.forumpost .content,
.forumpost .message,
.forumpost .side,
.glossarycomment .entry {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#dock .dockeditem,
#dock .dockedtitle {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Totara dialog boxes */
.totara-dialog .ui-dialog-titlebar {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#dialog-tabs ul li.ui-state-default {
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.blogsite thead tr td {
    width:100%;
}
